.badge {
  display: inline-block;
  padding: space(1) space(2);
  font-size: $font-size-sm;
  @include border-radius(1rem);
  text-transform: uppercase;
  letter-spacing: 0.05rem;

  &--success {
    background-color: $success-color;
    color: $neutral-light;
  }

  &--warning {
    background-color: $warning-color;
    color: $neutral-light;
  }

  &--info {
    background-color: $info-color;
    color: $neutral-light;
  }

  &--error {
    background-color: $warning-color;
    color: $neutral-light;
  }
}
