// Grid container
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(2);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Grid rows and columns
.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin: -space(1);
}

.grid-col {
  padding: space(1);
  flex-basis: 100%;

  @include media-breakpoint-up(sm) {
    flex-basis: calc(100% / 2);
  }

  @include media-breakpoint-up(md) {
    flex-basis: calc(100% / 3);
  }

  @include media-breakpoint-up(lg) {
    flex-basis: calc(100% / 4);
  }
}
