body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.75;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

h4 {
  font-family: "Lora", serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
}

h5 {
  font-family: "Lora", serif;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000;
}

h6 {
  font-family: "Lora", serif;
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0px;
  color: #000000;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #333333;
}

.text-primary {
  color: #000000;
}

.text-secondary {
  color: #333333;
}

.text-muted {
  color: #757575;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__link {
  display: flex;
  align-items: center;
}
.logo__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  transition: color 0.3s ease;
}
.logo__text:hover {
  color: #e7bb10;
}
@media (min-width: 992px) {
  .logo__text {
    font-size: 1.5rem;
  }
}