@use "../../styles/colors" as *;
@use "../../styles/spacing" as *;
@use "../../styles/typography" as *;

.goal-box {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral-light; // Default background color
  border: 2px solid $neutral-dark;
  border-radius: 8px;
  margin: $spacing-sm;
  transition: background-color 0.3s ease;

  &__day-number {
    font-size: $font-size-md;
    font-weight: bold;
    color: $text-primary;
  }

  // Styles for passed days
  &--passed {
    background-color: $neutral-medium;
    color: $neutral-light;
  }

  // Styles for current day
  &--current {
    background-color: $brand-secondary;
    color: $neutral-white;
  }

  // Optional: hover or active states for boxes
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
