@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Mate:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oldenburg&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Laila:wght@300;400;500;600;700&family=Mate:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oldenburg&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
body {
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

h1 {
  font-family: "Laila", serif;
  font-size: 2rem;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

h2 {
  font-family: "Laila", serif;
  font-size: 1.5rem;
  line-height: 1.75;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

h3 {
  font-family: "Laila", serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

h4 {
  font-family: "Laila", serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
}

h5 {
  font-family: "Laila", serif;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000;
}

h6 {
  font-family: "Laila", serif;
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0px;
  color: #000000;
}

p {
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #333333;
}

.text-primary {
  color: #000000;
}

.text-secondary {
  color: #333333;
}

.text-muted {
  color: #757575;
}

.goal-box {
  width: 60px;
  height: 60px;
  background-color: #f4f4f4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.goal-box__content {
  font-size: 1rem;
  font-weight: bold;
}
.goal-box:hover {
  background-color: #f3d250;
  color: #ffffff;
}