@use "../../styles/colors" as *;
@use "../../styles/spacing" as *;
@use "../../styles/typography" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/components" as *;

.explore-page {
  &__title {
    text-align: center;
    margin-bottom: $spacing-lg;
    margin-top: $spacing-lg;
    color: $text-primary;
  }

  &__boards {
    display: grid;
    padding: $spacing-lg;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-lg;

    @include md-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__loading {
    text-align: center;
    font-size: $font-size-lg;
    color: $text-secondary;
    margin-top: $spacing-md;
  }
}
