@use "../../styles/colors" as *;
@use "../../styles/spacing" as *;
@use "../../styles/typography" as *;

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: $spacing-xs;

  &--small {
    font-size: 1.2rem;
  }

  &--medium {
    font-size: 1.5rem;
  }

  &--large {
    font-size: 2rem;
  }

  &--primary {
    color: $brand-primary;
  }

  &--secondary {
    color: $brand-secondary;
  }

  &--danger {
    color: $brand-tertiary;
  }

  &:hover {
    opacity: 0.8;
  }
}
